*{
  box-sizing: border-box;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 14px 34px;
  font-size: 17px;
  padding: 8px;
}
.container{
  background-color: #f2f2f2 ;

  padding: 5px 24px 15px 20px;
  border: 1px solid lightslategrey;
  border-radius: 8px;

}
.box{
  padding: 12px 15px;
  background-color: rgba(110, 232, 236, 0.678);
  width: 100%;
  margin: none;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 8px;
}
fieldset{
  background-color: #fff;
  border: 1px solid #ccc;

}
.main_heading{
  text-align: center;
  text-decoration: azure;
}
input[type="submit"]{
  background-color:rgba(76, 235, 195, 0.897);
  color:white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
}
input[type="submit"]:hover{
     
background-color: #4caf84;


}
