.container-background {
  background-image: linear-gradient(
    to right bottom,
    #357deb,
    #657cf6,
    #9280fa,
    #b372ff,
    #d869ff
  );
  height: 100vh;
}
.contact-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-page-header {
  margin-top: 10%;
  margin-bottom: 48px;
  text-align: center;
}
.contact-page-header h1 {
  font-weight: bold;
}

.contact-page-form label {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffff;
}

.submit-btn {
  font-size: 1.2rem;
  text-align: center;
}
