
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /* font-family: 'Ubuntu', sans-serif; */
}

/* Navbar */

.navbar-custom  .navbar-brand span{

    color: #5928E5;

}

.navbar-custom  .navbar-brand {
     
   padding-top: 5px;
    
}

.navbar{
    background-color: #fff;
}
.navbar .nav-item{
    padding-right: 20px;
}


#navbarNav > ul > li:nth-child(n) > a{
    
    color: #1F1926;
    font-size: 1.2rem;
    font-weight: 500;
}
#navbarNav > ul > li:nth-child(n) > a:hover{
    color: #5928E5;
}


.navbar .container button{
    
    color: #592AF5;
    border-color: rgb(40 37 225);
    background-color: #592AF5;
}



.navbar .container .navbar-collapse .btn {
    color: #fff;
    padding: 8px 25px 8px 25px;
    font-size: 17px;
}


.title-heading{

    font-size: 3rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    color:#3b5c64;
}
.title-heading h2{
    font-weight: 700;

}

.row-css{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    margin-bottom: 50px;
}
.i-card{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    
    border: 1px solid rgba(0,0,0,.125);
}
.i-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
.hover-shadow:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5)
}



  @media screen and (max-width : 762px){
      .card{
          width:100%;
          height:100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-left: 0px;
      }
  }
  


 /* Footer */


.container{
	max-width: 1170px;
	margin:auto;
    
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.footer{
	background-color: #eee;
    padding: 70px 0;
}
.footercol{
   width: 25%;
   padding: 0 15px;
}
.footercol h4{
	font-size: 18px;
	color: #3b5c64;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 600;
	position: relative;
}

.footercol ul li:not(:last-child){
	margin-bottom: 10px;
}
.footercol ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #3b5c64;
	text-decoration: none;
	font-weight: 400;
	
	display: block;
	transition: all 0.3s ease;
}
.footercol ul li a:hover{
	color: #592AF5;
	padding-left: 8px;
}

.footercol ul {

        margin: 0; 
        padding:0;
    
}



.footercol .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #24262b;
	transition: all 0.5s ease;
}

.footercol .social-links a:hover{
	color: #24262b;
	background-color:#592AF5;
}

/*responsive*/
@media(max-width: 767px){
  .footercol{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footercol{
    width: 100%;
}
}



.footer .rights{
    padding-top: 30px;
    background-color: #eee;
   


}

.footer .rights p a{

    text-decoration: none;

}


   